.dropdown {
  text-align: center;
}

.dropdown select {
  font-size: 16px;
}

h3,
#park-type {
  margin-left: 30px;
}

.park-results {
  text-align: left;
  margin: 20px;
}

section {
  border-top: 3px inset rgb(99, 122, 171);
  border-top-left-radius: 80px 80px;
  padding: 30px;
}

#park-type {
  border: 2px solid black;
  color: white;
  display: inline-block;
  background-color: rgb(159, 66, 16);
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

a:visited {
  color: green;
}
