.dropdown {
  text-align: center;
}

.dropdown select{
  font-size: 16px;
}

h3 {
 margin-left: 30px
}

.park-results {
  text-align: left;
  margin: 20px;
}

section {
  border-top : 3px inset rgb(99, 122, 171);
  border-top-left-radius: 80px 80px;
  padding: 30px;
}